@import "../../variables";

.type {
    img {
        height: 1rem;
    }

    .greek {
        background-color: $greek-color;
        color: #ffffff;
    }

    .roman {
        background-color: $roman-color;
        color: #ffffff;
    }
}