@import '../../bulma.scss';

.god-pair {
    background: linear-gradient(
        90deg,
        mix($greek-color, $white, $opacity) 0%,
        rgba(255, 255, 255, 1) 50%,
        mix($roman-color, $white, $opacity) 100%);

    .columns {
        &.label-columns {
            margin-bottom: 0.3rem;

            .column {
                @extend .has-text-centered;
                padding-bottom: 0;
            }
        }

        &.content-columns {
            .column {
                $mid-padding: 3rem;

                &:first-child {
                    padding-right: $mid-padding / 2;
                }

                &:last-child {
                    padding-left: $mid-padding / 2;
                }
            }
        }
    }
}