@import "../../variables";

.god-tag {
    .greek {
        background-color: $greek-color;
        color: #ffffff;
    }

    .roman {
        background-color: $roman-color;
        color: #ffffff;
    }
}
