@charset "utf-8";

@import "./variables";

@import url('https://fonts.googleapis.com/css?family=Rubik');
@import url('https://fonts.googleapis.com/css?family=Cinzel');

@import "~bulma/sass/utilities/initial-variables";
@import "~bulma/sass/utilities/functions";

$body-background-color: #f7f7f7;
$family-sans-serif: "Rubik", sans-serif;
$family-secondary: "Cinzel", serif;
$footer-background-color: $white;
$footer-padding: 1rem 0;
$primary: $greek-color;
$danger: $danger-color;

@import "~bulma/sass/utilities/_all.sass";
@import "~bulma/sass/base/_all.sass";

@import "~bulma/sass/grid/columns.sass";
@import "~bulma/sass/elements/box.sass";
@import "~bulma/sass/elements/button.sass";
@import "~bulma/sass/elements/container.sass";
@import "~bulma/sass/elements/content.sass";
@import "~bulma/sass/elements/form.sass";
@import "~bulma/sass/elements/icon.sass";
@import "~bulma/sass/elements/image.sass";
@import "~bulma/sass/elements/tag.sass";
@import "~bulma/sass/elements/title.sass";
@import "~bulma/sass/components/breadcrumb.sass";
@import "~bulma/sass/components/message.sass";
@import "~bulma/sass/components/navbar.sass";
@import "~bulma/sass/layout/footer.sass";
@import "~bulma/sass/layout/hero.sass";
@import "~bulma/sass/layout/section.sass";

@import "~bulma-tooltip/src/sass/index.sass";

// fix columns to wide on mobile (https://github.com/jgthms/bulma/issues/449)
@media screen and (max-width: 1024px) {
    footer.footer {
        .columns {
            margin-left: 0;
            margin-right: 0;
        }
    }
}

// add new screen size
$small-mobile: 420px;
@mixin small-mobile {
    @media screen and (max-width: $small-mobile) {
        @content;
    }
}
