@import './bulma.scss';

@include small-mobile() {
    .tag {
        white-space: normal !important;
        height: auto !important;
    }
}

// Sections
section.has-heaven-bg {
    background-image: url('/img/gods/heaven.svg');
    background-position: top;
    background-repeat: no-repeat;
    background-size: contain;
}

section.has-white-bg {
    background-color: #ffffff;
}

section.has-colored-bg {
    background-color: #e3f6fa;
}

@include small-mobile() {
    $smaller-horizontal-padding: 1rem;

    .section {
        &.is-wider-on-small-mobile {
            padding-left: $smaller-horizontal-padding;
            padding-right: $smaller-horizontal-padding;
        }
    }

    .hero {
        &.is-wider-on-small-mobile {
            >.hero-body {
                padding-left: $smaller-horizontal-padding;
                padding-right: $smaller-horizontal-padding;
            }
        }
    }
}

// God
.god,
.god-pair {
    $god-image-size: 12rem;

    margin-top: 10rem;
    margin-bottom: 3rem;

    &.greek-bg {
        background: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, mix($greek-color, $white, $opacity) 100%);
    }

    &.roman-bg {
        background: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, mix($roman-color, $white, $opacity) 100%);
    }

    .god--image {
        text-align: center;
        margin-bottom: 1.5rem;

        img {
            margin-top: -1.25rem - $god-image-size / 2;
            height: $god-image-size;
        }
    }

    .god--type {
        @extend .is-pulled-right;
    }

    .god--name {
        font-family: $family-secondary;

        @include small-mobile() {
            &.is-size-4-small-mobile {
                font-size: $size-4 !important;
            }
        }
    }

    .god--role {
        font-style: italic;
    }

    .god--label {
        @extend .has-text-grey;
        @extend .is-italic;
    }

    .god--description {
        text-align: justify;
    }
}

.button.is-detailed {
    background-color: transparent;
}
